<h1>授業一覧</h1>

<table>
    <thead>
        <tr>
        <th>授業名</th>
        <th>単位</th>
        <th>成績</th>
        </tr>
    </thead>
    <tbody>
        <% @courses.each do |course| %>
        <tr>
            <td><%= course.name %></td>
            <td><%= course.credit_hours %></td>
            <td><%= course.grade %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to '授業を登録', new_course_path, class: 'btn btn-primary' %>
