<h1>GPA Calculator</h1>

<% if @courses.any? %>
    <h2>Your GPA: <%= @gpa %></h2>
    <% if @gpa >= 3.3 %>
    <p>Congratulations! You have received the President's Award for Academic Excellence.</p>
    <% end %>
<% else %>
    <p>No courses available for GPA calculation.</p>
<% end %>

